{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}

{% endblock head_title %}



{% block content %}
<div class="container py-3">
    <div class="row">
        <div class="col-lg-3">
            <h1>Add overtime</h1>
            <hr>
        </div>
        <div class="col">
            <div class="container py-3">
                <form class="col-lg-8 border p-4 shadow rounded-4"
                    action=""
                    method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                    <div class="my-3 text-end">
                        <button class="btn btn-sm btn-outline-dark px-5"
                            type="submit">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
{% endblock content %}